.navbar {
  margin-top: 10px;
}
.navbar-nav>li>a {
  margin: 0px 10px;
  padding: 10px 20px;
  color: #2c3e50;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  border-bottom: 1px solid #3498db;
  background: None;
}
@media (max-width: 767px) {
  .navbar-nav {
    position: relative;
    float: left;
  }
  .navbar-nav > li {
    float: left;
  }
}
@media screen and (max-width: 480px) {
  .navbar-nav>li>a {
    margin: 0px 5px;
    padding: 10px 10px;
  }
}
body {
  font-size: 16px;
  background-color: #fefefe;
  margin-bottom: 200px;
}
#title {
  margin: 60px 0 60px;
}
#title a {
  text-decoration: none;
  color: #2c3e50;
}
h2 {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: rgba(255,255,255,0.3) 0 1px 0;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
img {
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  max-width: 95%;
}
/* Word Searcher */
.search_word_form p {
  margin-top: 20px;
}
.search_word_form form {
  max-width: 350px;
  margin: 0 auto;
}
/* Text Linker */
.link_text h3 {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: rgba(255,255,255,0.3) 0 1px 0;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
textarea {
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  border-radius: 5px;
}
.btn-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
/* Social Flat */
.social-flat {
  font-family: 'Josefin Sans', sans-serif;
}
.social-flat:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.social-flat ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-flat ul li {
  display: block;
  width: 180px;
  height: 90px;
  float: left;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  color: #f8f8f8;
  position: relative;
}
.social-flat ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 80px;
  color: #f8f8f8;
  font-size: 26px;
}
.social-flat .icon {
  background-color: #2c3e50;
}
.social-flat .icon:hover {
  background-color: #3a5169;
}
.social-flat .github {
  background-color: #2c3e50;
}
.social-flat .github:hover {
  background-color: #3a5169;
}
.social-flat .twitter {
  background-color: #3498db;
}
.social-flat .twitter:hover {
  background-color: #48a2df;
}
.social-flat .blog {
  background-color: #2ecc71;
}
.social-flat .blog:hover {
  background-color: #40d47f;
}
.social-flat .bottom-right {
  font-size: 14px;
  line-height: 12px;
  position: absolute;
  bottom: 7px;
  right: 7px;
}
@media screen and (max-width: 480px) {
  .social-flat ul li {
    width: 95%;
  }
}
/* Author Card */
.author-card {
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 5px;
  margin: 15px 5px;
  height: 150px;
  width: 560px;
  max-width: 95%;
  overflow: hidden;
  position: relative;
}
.author-card .icon-image {
  float: left;
  max-height: 95%;
}
.author-card .name {
  font-size: 48px;
  font-style: italic;
  text-align: center;
  margin-top: 40px;
}
.author-card .description {
  position: absolute;
  bottom: 7px;
  right: 7px;
  font-style: italic;
  color: #7f8c8d;
}
.author-card .card-left {
  float: left;
}
.author-card .card-right {
  margin-left: 150px;
  margin-right: 30px;
  max-height: 80%;
}
@media screen and (max-width: 480px) {
  .author-card {
    height: 100px;
  }
  .author-card .icon-image {
    width: 80px;
  }
  .author-card .name {
    font-size: 28px;
    margin-top: 25px;
  }
  .author-card .description {
    font-size: 12px;
  }
  .author-card .card-right {
    margin-left: 90px;
    margin-right: 10px;
  }
}
