@import "navigation.styl"


body
  font-size: 16px
  background-color: #fefefe
  margin-bottom: 200px

#title
  margin: 60px 0 60px
  a
    text-decoration:none
    color: #2c3e50

h2
  border-bottom: 1px solid rgba(0, 0, 0, .2)
  box-shadow: rgba(255, 255, 255, .3) 0 1px 0
  margin-bottom: 15px
  padding-bottom: 10px

/* Word Searcher */
.search_word_form
  p
    margin-top: 20px
  form
    max-width: 350px
    margin: 0 auto


/* Text Linker */
.link_text
  // padding-bottom: 500px
  h3
    border-bottom: 1px solid rgba(0, 0, 0, .2)
    box-shadow: rgba(255, 255, 255, .3) 0 1px 0
    margin-bottom: 15px
    padding-bottom: 10px

textarea
  padding: 5px
  border: 1px solid rgba(0, 0, 0, .2)
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15)
  border-radius: 5px

.btn-shadow
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15)

