<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {{ title }} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments/github.css') }}" media="all">
</head>
<body>
    <div class="container">
    {% include "navigation-header.html" %}
    {% block body %}
    {% endblock %}
    </div><!-- /div.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
