{% extends "layout.html" %}
{% block title %} アルク語源辞典テキストリンカー {% endblock %}
{% block body %}
<div class="row">
    <h1 id="title" class="text-center"><a href="{{ url_for('text_linker') }}">{{ self.title() }}</a></h1>
    <div class="search_word_form col-xs-8 col-xs-offset-2">
        <form class="" method="post" action="{{ url_for('text_linker') }}">
            <textarea type="text"
                      name="search_text"
                      rows=5
                      style="display:block; margin:0 auto; width:100%;"
                      placeholder="Search text"></textarea>
            <div style="margin:0 auto; width:100%;">
                <button class="btn btn-default" type="submit" style="width:100%;margin:15px 0;">Generate</button>
            </div>
        </form>
    </div><!-- /div.search_word_form.col-xs-8.col-xs-offset-2 -->
</div>
<div class="row">
    <h3 class="text-center">リンクテキスト</h3>
    <div class="link_text col-xs-8 col-xs-offset-2">
            <p>{{ link_text or 'リンク結果がここに表示されます'}}</p>
    </div>
</div>
{% endblock %}
