<div class="search_word_form col-xs-12 col-sm-6 col-sm-offset-3">
    <form class="input-group" method="post" action="{{ url_for('send_word') }}">
        <input class="form-control"
               type="text"
               name="search_word"
               value="{{ search_word }}"
               placeholder="Search word">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
        </span>
    </form>
    {% if is_found and search_word %}
        <p> {{ search_word }} は見つかりませんでした。</p>
    {% endif %}
</div><!-- /div.search_word_form.col-sm-6 -->
